:root {
  --widgetOpacity: 0.3;
  --vignetteOpacity: 0.9;
  --transitionTime: 0.3s;
  --textColor: orange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 1s ease;
}
.overlay {
  position: absolute; /* Position the overlay element relative to the .container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('vignette.png'); /* Set the PNG vignette image URL */
  background-size: cover; /* Resize the overlay to cover the entire container */
  opacity: var(--vignetteOpacity); /* Adjust the opacity as desired */
}

.main-fade-in {
  opacity: 1;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  color: var(--textColor);
  width: 4vw;
  opacity: 0;
  background-color: rgba(0, 0, 0, var(--widgetOpacity));
  padding: 1rem;
  transform: translateX(-100px);
  transition: opacity 1s ease, transform 1s ease;
  z-index: 1;
  align-items: center;
}

.main-fade-in article {
  opacity: 1;
  transform: translateX(0);
}

.icon {
  display: block; /* Display each icon on its own line */
  margin-bottom: 10px; /* Add space between the items (adjust as needed) */
}
#icon-container {
  position: relative;
  display: inline-block;
}
.app-icon {
  font-size: 2vw;
  padding: 10px;
  transition: all var(--transitionTime);
}
.app-icon:hover {
  color: orange;
  transform: scale(1.2);
}
.badge {
  color: rgb(251, 81, 51); /* You can adjust the text color as needed */
  padding: 0px 0px; /* Adjust the padding to control the badge size */
  margin: 0;
  position: absolute;
  font-size: 1.5vw;
  font-weight: bold;
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: max-content;
  flex-direction: column;
}

#title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

#description {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

.image-info {
  position: fixed;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  right: 10px; /* Adjust the distance from the right as needed */
  background-color: rgba(0, 0, 0, var(--widgetOpacity)); /* Background color with opacity */
  color: var(--textColor);
  padding: 10px;
  border-radius: 5px;
  font-size: 1vw;
}
.image-info a {
  color: inherit; /* Inherit the text color from the parent (.image-info) */
  text-decoration: underline; /* Add underline to links */
}

/* Style links when hovered */
.image-info a:hover {
  color: var(--textColor); /* Change the link color to white on hover */
  transform: scale(1.2);
}

/* Style links when clicked */
.image-info a:active {
  color: var(--textColor); /* Change the link color to white when clicked */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* Style for the search bar */
.search-bar {
  width: 400px; /* Set the desired width for the search bar */
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 1.5rem; /* Rounded corners similar to Google's new tab page */
  outline: none;
  text-align: left; /* Align text to the left similar to Google's new tab page */
  font-size: 16px; /* Adjust font size as needed */
  padding-left: 16px; /* Add some left padding similar to Google's new tab page */
  background-color: white; /* Background color for the search bar */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow similar to Google's new tab page */
}

/* Style for the search button */
.search-button {
  background-color: #4285f4; /* Google's blue search button color */
  color: white;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 16px;
  transition: all var(--transitionTime);
}
.search-button:hover {
  color: black;
}

#clock-time {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0;
  padding-top: 0;
  line-height: 1;
}

.clock-date-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  background-color: rgba(0, 0, 0, var(--widgetOpacity));
  padding: 1rem;
  
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center the content horizontally */
  border-radius: 1rem;
}

.clock {
  font-size: 4.5vw;
  color:var(--textColor);
}

.date {
  font-size: 2vw;
  color: var(--textColor);
}







/*
  NOTES WIDGET STYLES
*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; /* Center horizontally and vertically */
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all var(--transitionTime);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 35vw;
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content */

  display: flex;
  justify-content: center; /* Horizontally center child elements */
  flex-direction: column;
  z-index: 10;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  color: red;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}



/*
TO-DO LIST WIDGET STYLES
*/
#task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 10px;
}

/* Task list items */
#task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s ease-in-out;
}

/* Hover effect */
#task-list li:hover {
  background-color: #bebdbd;
}

/* Task text */
#task-list .task-text {
  /* flex-grow: 1; */
  font-size: 16px;
  color: #333;
}

/* Delete button */
#task-list .delete-button {
  color: #e74c3c;
  cursor: pointer;
  font-size: 18px;
  
  transition: all var(--transitionTime);
}

/* Delete button hover effect */
#task-list .delete-button:hover {
  color: blue;
  transform: scale(1.3);
}

#add-task {
  margin-left: 10px;
}

.todo-content {
  width: 560px;
}


#top10Container {
  max-width: 600px;
  z-index: 1;
  color: var(--textColor);
  padding-top: 5vw;
}
.website-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s; /* Add a smooth transition for the hover effect */
  margin: 5px; /* Add some margin for spacing */
  overflow: visible;
}
.website-item-round {
  display: flex;
  width: 55px; /* Adjust the width to accommodate the 55x55 images */
  height: 55px; /* Adjust the height to accommodate the 55x55 images */
  background-color: rgba(0, 0, 0, var(--widgetOpacity));
  border-radius: 50%; /* Create a round shape with border-radius */
  align-items: center;
  justify-content: center;
  transition: transform 0.3s; /* Add a smooth transition for the hover effect */
}

/* Define the hover effect */
.website-item-round:hover {
  transform: scale(1.2); /* Scale up by 1.2 times on hover */
}

.calendar-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  width: 100%;
}
.calendar-heading {
  font-size: 2vw;
  width: 100%;
  white-space: nowrap;
}
.calendar-day {
  transition: all var(--transitionTime);
  font-size: 1vw;
}
.calendar-day:hover {
  background-color: #4285f4;
  border-radius: 10px;
  cursor: default;
}


/* 
  weather widget style
*/
.weatherbox {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding: 10px; /* Add padding for spacing */
  
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(0, 0, 0, var(--widgetOpacity));
}

.weathercon {
  font-size: 24px; /* Adjust the icon size as needed */
  margin-right: 10px; /* Add spacing between icon and info */
}

.info {
  text-align: right; /* Align text to the right side */
}

.location {
  margin: 0; /* Remove default margin */
  font-size: 18px; /* Adjust font size as needed */
}

.temp {
  margin: 0; /* Remove default margin */
  font-size: 18px; /* Adjust font size as needed */
}


.block-badge {
  position: absolute;
  top: 0; /* Align the badge to the top of the parent */
  right: 0; /* Align the badge to the right of the parent */
  background-color: red; /* Customize the badge background color */
  color: white; /* Customize the badge text color */
  padding: 5px 5px; /* Add some padding for the badge content */
  border-radius: 50%; /* Make the badge a circle */
  font-size: 14px; /* Customize the font size */
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.block-badge:hover {
  color:black;
}

.wxinfo {
  display:flex;
  flex-direction: row;
  align-items: center;
}